.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  gap: 10px;
}

.card {
  flex: 0 0 20%;

  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    @include line-clamp;
    font-size: 12px;
    margin-top: 1rem;
    font-weight: 700;
  }
  img {
    max-width: 100%;
    // border-radius: 8px;
    // height: 150px;
    object-fit: cover;
    width: 200px;
    height: 102px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
}
