@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Bitter:wght@100..900&family=Roboto:wght@400..700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

@mixin line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.d-none {
  display: none;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #313132 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #313132);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
// Components loader
@import "components/button";
@import "components/card";
@import "components/menu";
@import "components/preferencesForm";
@import "components/search";

// Page loader
@import "pages/home";
